.page {

  .container {
    max-width: 960px;
  }

  section {
    margin: 0 auto 4em;
    overflow: hidden;

    .gutter {
      min-height: 5px;

      color: #858793;
      text-transform: uppercase;
      font-size: 0.833em;
      font-weight: 500;
      line-height: 2em;

    }

    .content {

      .description {
        margin-top: 0;

        ul, li {
          font-family: Georgia, Times;
          list-style-type: circle;
          margin-bottom: 1.2em;
          margin-left: 25px;
          line-height: 2em;
        }
      }
    }

    p {
    font-family: Georgia;
    font-weight: 300;
    color: #333;
    line-height: 2em;
      margin-bottom: 1.5em;
    }

    .pagetitle { 
      font-size: 2em;
      line-height: 2em;
    }

    a {
      color: #ef9713;
      text-decoration: none;
    }

    .title {
      font-size: 1.5em;
      color: #000;
    }



  .bottomcontact {
    a {
      padding: 10px 20px;
      border: 1px solid #ef9713;
      border-radius: 25px;

      color: #ef9713;
      text-decoration: none;
      font-weight: 400;

      &:hover {
        color: #fff;
        background-color: #ef9713;
        transition:all .1s linear;
      }
    }
  }




  }


  .nudge {
    height: 100px;
  }

  /* Non-Slideshow Images */
  .pimage.nonslide {
    >div {
      margin-bottom: 2.5em;
    }
  }

  /* Slick Slideshow */
  .slideshow {
    margin-left: 30px;
    width: 85%;
    min-width: 430px;
  }
  .pimage {
    img {
      margin: 0 auto;
      max-width: 568px;
      max-height: 413px;
      border: 1px solid #999;
    }
  }

  .slick-slider {
    background-color: #f3f3f3;
  }

  .slick-prev:before,
  .slick-next:before {
      color: black;
  }








  @media screen and (min-width: 900px)
  {
    section {
      .gutter {
        float: left;
        width: 140px;
      }

      .content {
        margin-left: 160px;
        max-width: 800px;
      }
    }
  }




} //page