.page {
  .container {
    margin: 0 auto;
    width: 85%;

    max-width: 2000px;
    min-width: 460px;
  }


  section {

    p {
      margin-bottom: 1.5em;
    }

    .pagetitle {
      font-size: 2em;
      font-weight: 600;
      margin-bottom: 1em;
    }


    .image {

      img {
        max-width: 100%;
      }
    }


  }


}